{% extends "jobs_templates/base_list_public.html" %}
{% from "_macros.html" import csrf %}

{% set hide_start_button = '1' %}

{% block list_info %}
<p class="text-muted">
    Add R column to <a href="https://mdwiki.org/wiki/WikiProjectMed:WikiProject_Medicine/Popular_pages" target="_blank">
        WikiProjectMed:WikiProject Medicine/Popular pages
    </a> table.
</p>

{% endblock %}

{% block header_actions %}
<form method="post" action="{{ url_for('public_jobs.start_job', job_type=job_type) }}" class="d-inline">
    {{ csrf() }}
    <button type="submit" class="btn btn-outline-primary"
        data-confirm-message="Run background job to update add R column to WikiProjectMed:WikiProject Medicine/Popular page?"
        onclick="return confirm(this.dataset.confirmMessage);">
        <i class="bi bi-play-circle"></i>
        Start New Job
    </button>
</form>
{% endblock %}
