{% from "_macros.html" import nav_link %}
{% from "_macros.html" import nav_link_with_args %}
{% set nav_item_class = "nav-item col-lg-auto col-md-4 col-sm-6 col-6" %}

<header class="mb-3 border-bottom">
    <nav class="navbar navbar-expand-lg shadow">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="{{ url_for('main.index') }}">
                mdwiki.org tools (UNDER TESTING)
            </a>
            <div class="d-flex align-items-center order-lg-last">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="btn btn-outline-secondary btn-sm ms-2" id="darkModeToggle" type="button"
                    aria-label="Toggle dark mode">
                    <i class="bi bi-moon-stars-fill"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav me-auto flex-row flex-wrap bd-navbar-nav">
                    <li class="{{ nav_item_class }}">
                        {{ nav_link('public_jobs.', 'bi-sliders', 'New Jobs', url_for('public_jobs.all_jobs_list')) }}
                    </li>
                    <li class="{{ nav_item_class }}">
                        <span class="nav-link" id="load_time"></span>
                    </li>
                    {% if is_admin %}
                    <li class="{{ nav_item_class }}">
                        {{ nav_link('admin.', 'bi-people-fill', 'Admins', url_for('admin.admin_dashboard')) }}
                    </li>
                    {% endif %}
                    <li class="{{ nav_item_class }}">
                        <a class="nav-link" href="https://github.com/MrIbrahem/mdwiki.org_scripts" target="_blank"
                            rel="noopener noreferrer">
                            <i class="bi bi-github"></i> GitHub
                        </a>
                    </li>
                </ul>
                <hr class="d-lg-none text-dark-subtle text-50">
                <div class="d-flex align-items-center">
                    {% if current_username %}
                    <a class="nav-link d-inline-block me-3"
                        href="{{ url_for('profile.user_dashboard', user_name=current_username) }}">
                        <i class="bi bi-person-circle me-1"></i>
                        <span class="navbar-text">
                            {{ current_username }}
                        </span>
                    </a>
                    <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('auth.logout') }}">Logout</a>
                    {% else %}
                    <a class="btn btn-outline-success btn-sm" href="{{ url_for('auth.login') }}">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
