{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header" style="font-weight:bold;">
        <h3>{{ title or "mdwiki.org Tools" }}</h3>
    </div>
    <div class="card-body">
        {% if current_user and current_user.is_authenticated %}
        <p>Signed in as <strong>{{ current_user.username }}</strong>.</p>
        {% endif %}
        <p>Jobs for all pages:</p>
        <ul class="list-group mb-4">
            <li class="list-group-item">
                <a href="{{ url_for('new_jobs.jobs_list', job_type='add_unlinkedwikibase') }}">
                    add unlinkedwikibase tag
                </a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('new_jobs.jobs_list', job_type='fixred_all') }}">
                    Fix redirects all pages
                </a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('new_jobs.jobs_list', job_type='fixref') }}">
                    Normalize references
                </a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('new_jobs.jobs_list', job_type='duplicate_redirect') }}">
                    Fix duplicate redirects
                </a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('new_jobs.jobs_list', job_type='find_and_replace') }}">
                    find &amp; replace
                </a>
            </li>
        </ul>

        <p>Jobs for one page:</p>
        <ul class="list-group mb-0">
            <li class="list-group-item">
                <a href="{{ url_for('new_jobs.jobs_list', job_type='add_r_column') }}">
                    Add R column
                </a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('newupdater.newupdater') }}">
                    Medical content updater
                </a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('fixred.index') }}">
                    Fix redirects one page
                </a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('new_jobs.jobs_list', job_type='import_history') }}">
                    Import page history
                </a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('new_jobs.jobs_list', job_type='create_redirects') }}">
                    Create redirects
                </a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('new_jobs.jobs_list', job_type='copy_svg_langs') }}">
                    copy_svg_langs
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
