# toolforge envvars create FLASK_SECRET_KEY "............"

# Application environment (production, development, testing)
APP_ENV=development
FLASK_ENV=development

STATIC_SERVER=https://cdnjs.cloudflare.com

# python -c "import secrets; print(secrets.token_hex(16))"
FLASK_SECRET_KEY=

MAIN_DIR=~/data

TOOL_TOOLSDB_DBNAME=db_name

# TOOL_TOOLSDB_HOST=tools.db.svc.wikimedia.cloud
TOOL_TOOLSDB_HOST=127.0.0.1
TOOL_TOOLSDB_USER=root
TOOL_TOOLSDB_PASSWORD=root

WIKI_DOMAIN=www.wiki.org # or test-commons.wikimedia.org
OAUTH_MWURI=https://www.wiki.org/w/index.php
OAUTH_CONSUMER_KEY=x
OAUTH_CONSUMER_SECRET=x

# Generate URL-safe 32-byte Fernet key:
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
OAUTH_ENCRYPTION_KEY=x

AUTH_COOKIE_NAME=uid_enc
AUTH_COOKIE_MAX_AGE=2592000  # 30 days
SESSION_COOKIE_SECURE=True
SESSION_COOKIE_HTTPONLY=True
SESSION_COOKIE_SAMESITE=Lax

USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3

REQUEST_TOKEN_SESSION_KEY=state
STATE_SESSION_KEY=oauth_state
