# toolforge envvars create FLASK_SECRET_KEY "............"
FLASK_ENV=development
APP_ENV=development

STATIC_SERVER=https://cdnjs.cloudflare.com

# python -c "import secrets; print(secrets.token_hex(16))"
FLASK_SECRET_KEY=

MAIN_DIR=~/data

TOOL_TOOLSDB_DBNAME=db_name

TOOL_TOOLSDB_HOST=127.0.0.1
TOOL_TOOLSDB_USER=root
TOOL_TOOLSDB_PASSWORD=root

WIKI_DOMAIN=www.wiki.org
OAUTH_MWURI=https://www.wiki.org/w/index.php
OAUTH_CONSUMER_KEY=x
OAUTH_CONSUMER_SECRET=x

# Generate URL-safe 32-byte Fernet key:
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
OAUTH_ENCRYPTION_KEY=x

AUTH_COOKIE_NAME=uid_enc
AUTH_COOKIE_MAX_AGE=2592000  # 30 days
SESSION_COOKIE_SAMESITE=Lax

SESSION_COOKIE_SECURE=1
SESSION_COOKIE_HTTPONLY=1

REQUEST_TOKEN_SESSION_KEY=state
STATE_SESSION_KEY=oauth_state
