/php/replace/find
*.7z
.pylintrc
/php/bots/sh
**/old/**
*.pyc
.vscode/**
src/app1.py
patch-diff.diff
coverage.xml
.coverage
**/work_on_text_result.wiki
.claude/settings.json
.claude/settings.local.json
_works_files/add_all.py
/.mypy_cache
monkeytype.sqlite3
righttyper.log
run_tests.py
righttyper.out
