{% from "_macros.html" import card_header, diff_link, wiki_domain_link, status_icon %}

{# Jobs Shared Jinja macros. #}

{% macro th_titles_columns(title_columns) %}
{% if title_columns %}
{% for key, value in title_columns.items() %}
<th>{{ value }}</th>
{% endfor %}
{% else %}
<th>Title</th>
{% endif %}
{%- endmacro -%}

{% macro td_titles_columns(domain, title_columns, item) %}
{% for key in title_columns %}
<td> {{ wiki_domain_link(domain, item[key]) }} </td>
{% endfor %}
{%- endmacro -%}

{# {%- from "_macros/_jobs_macros.html" import template_pages_changed -%} #}

{% macro template_pages_changed(domain, title, data, title_columns={"title": "Title"}) %}
<div class="card mb-3">
    <div class="card-header">
        {{ card_header(title ~ " (" ~ data|length ~ ")") }}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Page</th>
                        <th>Diff</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td> {{ loop.index }} </td>
                        {% if title_columns %}
                        {{ td_titles_columns(domain, title_columns, item) }}
                        {% else %}
                        <td> {{ wiki_domain_link(domain, item.title) }} </td>
                        {% endif %}
                        <td> {{ diff_link(domain, item.newrevid) }} </td>
                        <td><small>{{ item.msg }}</small></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%- endmacro -%}

{# {%- from "_macros/_jobs_macros.html" import template_pages_processed -%} #}

{% macro template_pages_processed(domain, title, data, title_columns={"title": "Title"}) %}
<div class="card mb-3">
    <div class="card-header">
        {{ card_header(title ~ " (" ~ data|length ~ ")") }}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        {% if title_columns %}
                        {{ th_titles_columns(title_columns) }}
                        {% else %}
                        <th>Title</th>
                        {% endif %}
                        <th>Status</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td> {{ loop.index }} </td>
                        {% if title_columns %}
                        {{ td_titles_columns(domain, title_columns, item) }}
                        {% else %}
                        <td> {{ wiki_domain_link(domain, item.title) }} </td>
                        {% endif %}
                        <td> {{ status_icon(item.status) }} </td>
                        <td><small>{{ item.msg }}</small></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{%- endmacro -%}

{# {%- from "_macros/_jobs_macros.html" import template_pages_errors -%} #}

{% macro template_pages_errors(domain, title, data, title_columns={"title": "Title"}) %}
<div class="card mb-3">
    <div class="card-header">
        {{ card_header(title ~ " (" ~ data|length ~ ")") }}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        {% if title_columns %}
                        {{ th_titles_columns(title_columns) }}
                        {% else %}
                        <th>Title</th>
                        {% endif %}
                        <th>Msg</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td> {{ loop.index }} </td>
                        {% if title_columns %}
                        {{ td_titles_columns(domain, title_columns, item) }}
                        {% else %}
                        <td> {{ wiki_domain_link(domain, item.title) }} </td>
                        {% endif %}
                        <td><small>{{ item.msg }}</small></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%- endmacro -%}



{# {%- from "_macros/_jobs_macros.html" import template_pages_only_title -%} #}

{% macro template_pages_only_title(domain, title, data) %}
<div class="card mb-3">
    <div class="card-header">
        {{ card_header(title ~ " (" ~ data|length ~ ")") }}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Msg</th>
                    </tr>
                </thead>
                <tbody>
                    {% for title in data %}
                    <tr>
                        <td> {{ loop.index }} </td>
                        <td> {{ wiki_domain_link(domain, title) }} </td>
                        <td><small></small></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%- endmacro -%}
