{% from "_macros.html" import csrf %}

{% macro from_cancel_job(end_point) %}
<form method="POST" action="{{ end_point }}" onsubmit="return confirm('Are you sure you want to cancel this job?');"
    class="d-inline">
    {{ csrf() }}
    <button type="submit" class="btn btn-warning">
        <i class="bi bi-x-circle"></i> Cancel
    </button>
</form>
{%- endmacro -%}

{% macro from_delete_job(end_point) %}
<form method="POST" action="{{ end_point }}"
    onsubmit="return confirm('Are you sure? This action cannot be undone!');"
    class="d-inline">
    {{ csrf() }}
    <button type="submit" class="btn btn-outline-danger btn-sm">
        <i class="bi bi-trash"></i> Delete
    </button>
</form>
{%- endmacro -%}

{% macro from_start_job(end_point, start_confirm_message) %}

<form method="post" action="{{ end_point }}" data-confirm-message="{{ start_confirm_message }}"
    onsubmit="return confirm(this.dataset.confirmMessage);" class="d-inline">
    {{ csrf() }}
    <button type="submit" class="btn btn-outline-primary">
        <i class="bi bi-play-circle"></i> Start New Job
    </button>
</form>
{%- endmacro -%}
