<!-- header.html -->
<main id="body">
    <!-- <div id="maindiv" class="container-fluid"> -->
    <div id="maindiv" class="container">
        <div class="card">
            <div class="card-header aligncenter" style="font-weight:bold;">
                <h3>Create redirects.</h3>
            </div>
            <div class="card-body">
                <form action='redirect.php' method='POST'>

                    <div class='container'>
                        <div class='container'>
                            <div class='row'>
                                <div class='col-lg-12'>
                                    <div class='form-group'>
                                        <div class='input-group mb-3'>
                                            <div class='input-group-prepend'>
                                                <span class='input-group-text'>Title:</span>
                                            </div>
                                            <input class='form-control' type='text' id='title' name='title' value='' />
                                        </div>
                                    </div>
                                </div>
                                <div class='col-lg-12'>
                                    <h3 class='aligncenter'>or</h3>
                                </div>
                                <div class='col-lg-12'>
                                    <div class='form-group'>
                                        <div class='input-group mb-3'>
                                            <div class='input-group-prepend'>
                                                <span class='input-group-text'>List of titles:</span>
                                            </div>
                                            <textarea class='form-control' cols='20' rows='7' id='titlelist'
                                                name='titlelist'></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-lg-12'>
                                    <h4 class='aligncenter'>
                                        <input class='btn btn-outline-primary' type='submit' value='send'>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- <div id="maindiv" class="container"> -->
</main>
<!-- footer.html -->
