{% extends "jobs_templates/base_details2.html" %}
{% from "_macros.html" import card_header, status_icon, stats_card %}
{%- from "jobs_templates/_help_templates/_jobs_macros.html" import template_pages_changed, template_pages_processed, template_pages_errors, template_pages_only_title -%}


{% set job_type = 'duplicate_redirect' %}



{% block job_summary %}
{% include 'jobs_templates/_help_templates/_job_summary.html' %}
{% endblock %}

{% block job_details %}

{% set title_columns = {"from_title": "Title", "redirect_to": "Redirect to", "final_target": "Final target"} %}

{% if result_data and result_data.pages_processed %}

{{ template_pages_processed(wiki_domain, 'Pages Processed', result_data.pages_processed, title_columns=title_columns) }}

{% endif %}

{% if result_data and result_data.pages_changed %}

{{ template_pages_changed(wiki_domain, 'Changed Pages', result_data.pages_changed, title_columns=title_columns) }}

{% endif %}

{% if result_data and result_data.pages_errors %}

{{ template_pages_errors(wiki_domain, 'Pages Errors', result_data.pages_errors, title_columns=title_columns) }}

{% endif %}

{% if result_data and result_data.pages_skipped %}

{{ template_pages_errors(wiki_domain, 'Pages skipped', result_data.pages_skipped, title_columns=title_columns) }}

{% endif %}
{% if result_data and result_data.pages_missing %}

{{ template_pages_only_title(wiki_domain, 'Pages missing', result_data.pages_missing) }}

{% endif %}
{% endblock %}
