{% extends "jobs_templates/base_details_public.html" %}
{% from "_macros.html" import stats_card %}
{% from "_macros/_jobs_macros.html" import template_pages_changed, template_pages_processed, template_pages_errors, template_pages_only_title %}

{% block job_summary %}
<div class="row g-3 mb-4">
    <div class="col-md-3 col-sm-6">
        {{ stats_card('Processing', result_data.summary.scanned ~ ' / ' ~ result_data.summary.total, "primary", "") }}
    </div>
    <div class="col-md-3 col-sm-6">
        {{ stats_card('Imported / Fallback', result_data.pages_imported|length ~ ' / ' ~ result_data.pages_imported_fallback|length, "success", "") }}
    </div>
    <div class="col-md-3 col-sm-6">
        {{ stats_card('missing', result_data.pages_missing|length, "warning", "") }}
    </div>
    <div class="col-md-3 col-sm-6">
        {{ stats_card('Errors', result_data.pages_errors|length, "danger", "") }}
    </div>
</div>
{% endblock %}

{% block job_details %}

{% if result_data and result_data.pages_imported %}
{{ template_pages_changed(wiki_domain, 'Pages imported', result_data.pages_imported, job.id, job_type, expand_all) }}
{% endif %}

{% if result_data and result_data.pages_imported_fallback %}

{{ template_pages_changed(wiki_domain, 'Pages imported fallback', result_data.pages_imported_fallback, job.id, job_type, expand_all) }}

{% endif %}

{% if result_data and result_data.pages_processed %}

{{ template_pages_processed(wiki_domain, 'Pages Processed', result_data.pages_processed, job.id, job_type, expand_all) }}

{% endif %}

{% if result_data and result_data.pages_errors %}

{{ template_pages_errors(wiki_domain, 'Pages Errors', result_data.pages_errors, job.id, job_type, expand_all) }}

{% endif %}

{% if result_data and result_data.pages_skipped %}

{{ template_pages_errors(wiki_domain, 'Pages skipped', result_data.pages_skipped, job.id, job_type, expand_all) }}

{% endif %}
{% if result_data and result_data.pages_missing %}

{{ template_pages_only_title(wiki_domain, 'Pages missing', result_data.pages_missing, job.id, job_type, expand_all) }}

{% endif %}
{% endblock %}
