{% extends "jobs_templates/base_details2.html" %}
{% from "_macros.html" import card_header, stats_card %}

{% set job_type = 'create_redirects' %}

{% block job_summary %}
<div class="row g-3 mb-4">
    <div class="col-md-2 col-sm-6">
        {{ stats_card('Processing', result_data.summary.scanned ~ ' / ' ~ result_data.summary.total, "primary", "") }}
    </div>
    <div class="col-md-2 col-sm-6">
        {{ stats_card('Created', result_data.summary.created, 'success', "") }}
    </div>
    <div class="col-md-2 col-sm-6">
        {{ stats_card('skipped', result_data.summary.skipped, 'secondary', "") }}
    </div>
    <div class="col-md-2 col-sm-6">
        {{ stats_card('Already exists', result_data.summary.already_exists, 'secondary', "") }}
    </div>
    <div class="col-md-2 col-sm-6">
        {{ stats_card('Target missing', result_data.summary.target_missing, 'secondary', "") }}
    </div>
    <div class="col-md-2 col-sm-6">
        {{ stats_card('Errors', result_data.summary.errors, 'danger', "") }}
    </div>
</div>
{% endblock %}
